<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="{{ app.request.getBaseURL() }}/" class="site_title"><i class="fa fa-paw"></i> <span>Pascal Devis</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="#" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Bienvenu,</span>
            <h2>Pascal</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>Menu</h3>
            <ul class="nav side-menu">
                <li><a  href="{{ app.request.getBaseURL() }}/"><i class="fa fa-laptop"></i> Accueil</a></li>

                <li><a><i class="fa fa-edit"></i> Devis <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{{ app.request.getBaseURL() }}/devis/new">Créer un devis</a></li>
                        <li><a href="{{ app.request.getBaseURL() }}/devis/">Rechercher un devis</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-users"></i> Client <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{{ app.request.getBaseURL() }}/client/new">Crée un client</a></li>
                        <li><a href="{{ app.request.getBaseURL() }}/client">Rechercher un client</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-database"></i> Données <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{{ app.request.getBaseURL() }}/categorie/new"><span class="fa fa-tags"></span> Crée une catégorie</a></li>
                        <li><a href="{{ app.request.getBaseURL() }}/categorie"><span class="fa fa-tags"></span> Rechercher une catégorie</a></li>
                        <li><a href="{{ app.request.getBaseURL() }}/produit/new"><span class="fa fa-cube"></span>Crée un produit</a></li>
                        <li><a href="{{ app.request.getBaseURL() }}/produit/"><span class="fa fa-cube"></span>Rechercher un produit</a></li>
                    </ul>
                </li>
                <li><a  href="{{ app.request.getBaseURL() }}/parametres"><i class="fa fa-wrench"></i> Parametres</a></li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
</div>


