{% extends "BackOfficeBundle:Layout:layout.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset("template/datatables.net-bs/css/dataTables.bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ asset("template/datatables.net-buttons-bs/css/buttons.bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ asset("template/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ asset("template/datatables.net-responsive-bs/css/responsive.bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ asset("template/datatables.net-scroller-bs/css/scroller.bootstrap.min.css") }}" rel="stylesheet">
    <!-- PNotify -->
    <link href="{{ asset("template/pnotify/dist/pnotify.css") }}" rel="stylesheet">
    <link href="{{ asset("template/pnotify/dist/pnotify.buttons.css") }}" rel="stylesheet">
    <link href="{{ asset("template/pnotify/dist/pnotify.nonblock.css") }}" rel="stylesheet">

{% endblock %}
{% block body %}
    <div class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    {% include "BackOfficeBundle:Layout:menu.html.twig" %}
                </div>
                <div class="top_nav">
                    {% include "BackOfficeBundle:Layout:top-bar.html.twig" %}
                </div>
                <!-- page content -->
                        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Devis</h3>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Créer un Devis</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- Smart Wizard -->
                    <p>Rentrez les informations nécéssaires dans chacunes des étapes pour créer un devis.</p>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Etape 1<br />
                                              <small>Paramètre client</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Etape 2<br />
                                              <small>Paramètre du Devis</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              Etape 3<br />
                                              <small>Contenu Devis</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-4">
                            <span class="step_no">4</span>
                            <span class="step_descr">
                                              Etape 4<br />
                                              <small>Step 4 description</small>
                                          </span>
                          </a>
                        </li>
                      </ul>
                      <div id="step-1">
                      <h2 class="StepTitle">Paramètre client</h2>
                        {{ form_start(form_devis,{ 'attr': {'class': 'form-horizontal form-label-left'} }) }}
                           <div class="item form-group">
                               <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Entreprise <span class="required">*</span>
                               </label>
                               <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_row(form_devis.entreprise,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
                               </div>
                           </div>
                           <div class="item form-group">
                               <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Client <span class="required">*</span>
                               </label>
                               <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_row(form_devis.client,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
                               </div>
                           </div>
                        </form>
                      </div>
                      <div id="step-2">
                      <h2 class="StepTitle">Paramètre du Devis</h2>
                      <form class="form-horizontal form-label-left">
                           <div class="item form-group">
                               <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">TVA <span class="required">*</span>
                               </label>
                               <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_row(form_devis.tva,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
                               </div>
                           </div>
                           <div class="item form-group">
                               <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Chantier <span class="required">*</span>
                               </label>
                               <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_row(form_devis.chantier,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
                               </div>
                           </div>
                           <div class="item form-group">
                               <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Numéro <span class="required">*</span>
                               </label>
                               <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_row(form_devis.numero,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
                               </div>
                           </div>
                           <div class="item form-group">
                               <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Date <span class="required">*</span>
                               </label>
                               <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_row(form_devis.date,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
                               </div>
                           </div>
                           <div class="item form-group">
                               <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Information <span class="required">*</span>
                               </label>
                               <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_row(form_devis.information,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
                               </div>
                           </div>
                      </div>
                      <div id="step-3">
                        <h2 class="StepTitle">Contenu Devis</h2>
                        <p>
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                          eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                      </div>
                      <div id="step-4">
                        <h2 class="StepTitle">Step 4 Content</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        </form>
                      </div>

                    </div>
                    <!-- End SmartWizard Content -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
                <!-- /Page Content -->

    <!-- footer content -->
    <footer>
        <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- PNotify -->
    <script src="{{ asset('template/pnotify/dist/pnotify.js') }}"></script>
    <script src="{{ asset('template/pnotify/dist/pnotify.buttons.js') }}"></script>
    <script src="{{ asset('template/pnotify/dist/pnotify.nonblock.js') }}"></script>
    <script src="{{ asset('template/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>


{% endblock %}